<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Alredy Verified Once</title>
</head>
<body>
    <h1>You are Verified Previous</h1>
    <p>You are verified Once</p>
</body>
</html>